@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622709772923') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ink14:before {
  content: "\e612";
}

.icon-jia:before {
  content: "\e623";
}

.icon-jian:before {
  content: "\e619";
}

.icon-iconfontcolor100-copy:before {
  content: "\e638";
}

.icon-kaiguanguan:before {
  content: "\e698";
}

.icon-kaiguan:before {
  content: "\e673";
}

.icon-snow:before {
  content: "\e7ce";
}

.icon-jian1:before {
  content: "\e627";
}

.icon-weibiaoti--:before {
  content: "\e615";
}

.icon-fengshan:before {
  content: "\e506";
}

.icon-taiyang:before {
  content: "\e643";
}

.icon-fengshan1:before {
  content: "\e520";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-kaiguan1:before {
  content: "\e646";
}

